body{
	font-family: 'Baloo Tamma 2', cursive;
}

.about{
	padding: 36px 0;
}

.parallax{
	height: 240px;
	filter: grayscale(1);
	padding: 36px 0;
	opacity: 0.5 !important;
}
.clients img{
	max-width: 150px;
}

.card-panel{
	background:#bbdefb;
	border-radius: 5px;
}

.card-panel img{
	height: 70px;
}

.tes {
	border-radius: 50%;
}

.por-img img{
	height: 1o0px;
}